@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  text-transform: capitalize;
  transition: all 1s ease-out;
  font-family: 'Noto Sans', sans-serif;
}
.background {
  height: 75vh;
  width: 100%;
  background-image: linear-gradient(rgba(2 10 1/77%), rgba(2 10 10/20%)),
  url(../img/tiositting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.logo {
  width: 77px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1% 2%;
}
.nav-items {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
.nav-items li {
  flex: 1;
  list-style: none;
  margin-left: 12%;
}
.nav-items li a {
  color: white;
  font-size: 23px;
  text-decoration: none;
}
.nav-items li::before {
  content: '';
  width: 0;
  background: #15cece;
  display: block;
  margin: auto;
  transition: 0.5s;
  height: 2px;
}
.nav-items li:hover::before {
  width: 60%; 
}
.btn{
  padding: 10px 30px;
  background-color: rgb(30, 108, 254);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 23px;
  cursor: pointer;
  border-radius: 7px;
  text-decoration: none;
}
.btn a {
  color: whitesmoke;
  text-decoration: none;
}
.btn:hover {
  background-color: #f90505;
}
.burger{
  display: none;
  position: absolute;
  top: 7px;
  right: 7%;
  cursor: pointer;
  color: white;
  font-size: 33px;
}
/*_________main__*/
.main {
 width: 90%;
 position: absolute;
 left: 50%;
 top: 50%;
 color: white;
 transform: translate(-50%,-50%);
 text-align: center;
}
.main h1 {
  font-weight: bold;
  font-size: 3em;
  padding-bottom: 5px;
}
.para {
  padding-top: 2%;
  width: 90%;
  right: 21%;
  position: absolute;
  font-weight: 600;
  font-size: 16px;
}
.search input {
  width: 50%;
  padding: 20px 30px;
  border: none;
  outline: none;
}
.btn1 {
  position: relative;
  padding: 15px 30px;
  right: 4px;
  top: 3px;
  border: none;
  font-size: 21px;
  font-weight: 800;
  background-color: #f90505;
}
/*_______service*/
.ser {
  width: 80%;
  margin: auto;
  padding: 4% 0;
  text-align: center;
}
.row {
  display: flex;
  justify-content: center;
  text-align: center;
}
.box {
  color: white;
  padding: 2%;
}
.box p{
  padding-top: 3%;
}
.box:nth-child(odd) {
  background-color: #15cece;
}
.box:nth-child(even){
  background-color: #ff527b;
}

.row .box{
  border-radius: 50px;
}
/*_____about*/
.sec {
  width: 90%;
  margin: auto;
  padding: 4% 0;
  text-align: center;
} 
.a_box {
  text-align: left;
}
.a_box, .img {
  width: 50%;
}
.a_box h3 {
  color: #f60086;
}
.heading {
  letter-spacing: 3px;
  font-size: 3rem;
}
.a_box p{
  font-size: 15px;
  padding: 2% 0;
}
.img img {
  width: 30%;
}
/*_------services*/
.row1 {
  padding-top: 3%;
}
.box1 img {
  width: 100%;
}
.box1{
  border: 2px solid white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 2% 1%;
  margin: 0 8px;
}
.box1 p {
  font-size: 12px;
  padding: 8px 0;
}
.btn3 {
  padding: 3px 13px;
  background-color: #15cece;
}
.btn3:hover {
  background-color: #f60086;
}
.Spara {
  font-weight: 700;
  font-style: italic;
  font-size: 21px;
  color: #15cece;
}
/*_______discount*/
.dis {
  background-image: linear-gradient(rgba(2 10 10/67%) ,  rgba(2 10 50/30%)),
  url(../img/2024-03-09a10.27.59_fc823afa.jpg);
  background-position: center;
  background-size: cover;
  color: goldenrod;
  text-align: center;
  padding: 4% 0;
  margin: 2% 0;
}
.dis h2{
  margin-bottom: 2.4%;
}
/*________trvelers*/
.box2{
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 12px;
  margin: 0 2%;
  border-top: 10px solid #f60086;
  flex-basis: 29%;
}
.box2 p{
  padding: 4% 0;
}
.box2 h1{
  padding: 2% 0;
}
.f-img{
  margin-top: 2%;
  width: 30%;
  border-radius: 50%;
  object-fit: cover;
}
.s-img{
  width: 20%;
}
/*______subscribe*/
.sub {
  background-image: linear-gradient(rgba(241, 73, 129, 0.57) ,  rgba(9, 95, 255, 0.4)),
  url(../img/galleryStaring.jpg);
}
.sub h1 {
  margin-bottom: 2%;
}
/*______Heartfelt Message*/
.user-Delet {
  padding: 1px 9px !important;
  font-size: 1em;
}
.heartfelt p {
  padding: 0.2em;
  margin: 0;
}
.message {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styling for Digital Guestbook */
.guestbook-section {
  background: linear-gradient(#fd4a86 , #ff93b7 , #ffffff);
  padding: 20px;
  margin: 0;
  border-radius: 10px;
}

.guestbook-form {
  max-width: 2200px;
  margin: 0 auto;
}

.guestbook-form label,
.guestbook-form input,
.guestbook-form textarea {
  margin-bottom: 10px;
  width: 100%; 
  display: block;
  border-radius: 9px;
  font-size: 1.7vw;

}

.guestbook-form button,
.user-Delet{
  background-color: #ff4791; /* Feminine color scheme */
  color: white;
  padding: 12px 20px;
  border: none;
  box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  cursor: pointer;
}

.guestbook-form button:hover {
  background-color: #ea74a3; /* Lighter shade for hover effect */
}

.guestbook-messages {
  margin-top: 20px;
}

#messageList {
  list-style: none;
  padding: 0;
}

#messageList li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ff99bb; /* Feminine color scheme */
  padding-bottom: 10px;
}


/*______________sponsors________*/
footer{
  text-align: center;
  color: #000000;
  background: linear-gradient(rgba(255, 255, 255, 0.4), #fd4a86);
  padding: 12px;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: bold;
}
/*_______responsive*/
@media only screen and (max-width: 1147px) {
  .img img {
    width: 41%;
  }
  .ser .row {
    border-radius: 20px;
  }
}
@media only screen and (max-width: 852px) {
  .navbar {
    height: 480px;
    flex-direction: column;
    transition: all 0.9s ease-out;
    align-items: center;
    background: linear-gradient( rgba(9, 95, 255, 0.5)  ,rgba(241, 73, 129, 0.5)) #333;
    z-index: 1;
    justify-content: space-evenly;
  }
  .nav-items {
    flex-direction: column;
    margin-top: 3%;
  }
  .nav-items li{
    margin-left: 0;
    padding: 4% 0;
    white-space: nowrap;
  }
  .logo {
    padding-bottom: 8%;
  }
  .burger {
    display: block;
  }
  .h-class {
    height: 65px;
  }
  .v-class {
    opacity: 0;
  }
  .heading {
    font-size: 2rem;
  }
  .a_box, .img {
    width: 80%;
    margin: auto;
  }
  .row {
    flex-direction: column;
  }
  .box1, .box2{
    margin-bottom: 5%;
  }
  .para {
  right: 6%;
  }
}
@media only screen and (max-width:550px) {
  .a_box, .img, .main{
    width: 100%;
  }
  .img {
    padding-top: 3%;
  }

  .search input {
    padding: 20px 7px;
  }
  .btn1 {
    padding: 15px 7px;
  }

  .box {
    border-radius: 20px;
  }
  
}
/*---------later added--------------*/
.main h1 {
  animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

video {
  width: 100%; /* Set video width to 100% of its container */
  height: auto; /* Automatically adjust height based on aspect ratio */
  display: block; /* Make the video a block-level element */
  margin: 0 auto; /* Center the video horizontally */
  max-width: 800px; /* Set maximum width for the video */
  border: 1px solid #da0808; /* Add a border around the video */
}


@media screen and (min-width: 1200px) {
  .heartfelt p, 
  .guestbook-form label {
    font-size: 1vw;
    padding: 0.2em;
    margin: 0;
  }
}

@media screen and (min-width: 1800px) {
  .guestbook-form label,
  .guestbook-form input,
  .guestbook-form textarea {
    font-size: 1vw;
    padding: 0.2em;
    margin: 0;
  }
}